{% extends 'layouts/app.twig' %}

{% block content %}
    <header class="project-hero bg-gray py-16 px-2 lg:px-0">
        <div class="container mx-auto lg:flex">
            <div class="lg:w-1/3">
                <h1 class="post-title djc-title content ">{{ post.title }}</h1>
                {% for opdrachtgever in opdrachtgevers %}
                    <small class="opdrachtgevers">
                        {{ opdrachtgever }} {% if not loop.last %}<span class="opdrachtgevers-sep">|</span>{% endif %}
                    </small>
                {% endfor %}

                <section class="project-pills pt-2">
                    {% for item in services %}
                        <a class="related-pill" href="{{ item.link }}" data-title="{{ item.title }}" data-id="{{ item.id }}" data-type="{{ item.post_type }}">
                            {{ item.title }}
                        </a>
                    {% endfor %}
                </section>
            </div>
            <div class="lg:w-2/3">
                <figure>
                    <img src="{{ post.thumbnail.src?? '//via.placeholder.com/1200x600' }}" alt="{{ post.thumbnail.alt }}">
                </figure>
            </div>
        </div>
    </header>
    <main class="post-content content">
        {{ post.content }}
    </main>
{% endblock %}
