{% from 'components/buttons/phone.html.twig' import phone_button as phone, email_button as email %}
{% from 'components/buttons/menu.html.twig' import menu_item as menu %}

<footer class="footer bg-white py-8">
    <aside class="footer-separator">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 10" preserveAspectRatio="none">
            <path class="" d="M350,10L340,0h20L350,10z"></path>
        </svg>
    </aside>
    <div class="lg:flex container mx-auto px-4 lg:px-0">
        <div class="lg:w-1/4 content">
            <h2 class="footer-title">Adres</h2>
            <p>
                {{ theme.theme_mod('address') }}
            </p>
            <p>
                {{ theme.theme_mod('address-2') }}
            </p>
            <p>
                {{ phone('footer-phone') }}
            </p>
            <p>
                {{ email('footer-email') }}
            </p>
        </div>
        <div class="lg:w-1/4 content">
            <h2 class="footer-title">{{ __('Diensten', 'djc') }}</h2>
            <nav class="footer-nav-diensten flex flex-col">
                {% for item in serviceMenu.items %}
                    {{ menu(item, 'footer-menu-item service-menu-item') }}
                {% endfor %}
            </nav>
        </div>
        <div class="lg:w-1/4">&nbsp;</div>
        <div class="lg:w-1/4">
            {% do fn('elementor_theme_do_location', 'footer-sidebar') %}
        </div>
    </div>
    <div class="lg:flex container mx-auto px-4 lg:px-0 lg:mt-8">
        <section class="footer-link">
            {% for item in footerMenu.items %}
                {{ menu(item, 'footer-menu-disclaimer') }}
            {% endfor %}
        </section>
        <section class="lg:ml-auto footer-social">
            <a href="{{ theme.theme_mod('facebook-url')?? '#' }}" class="social-button" title="Bekijk Facebook pagina">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="{{ theme.theme_mod('linkedin-url')?? '#' }}" class="social-button" title="Bekijk LinkedIn pagina">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="{{ theme.theme_mod('instagram-url')?? '#' }}" class="social-button" title="Bekijk Instagram pagina">
                <i class="fab fa-instagram"></i>
            </a>
        </section>
    </div>
</footer>
