{% macro menu_item(item, class) %}
    <a href="{{ item.link }}"
       class="{{ class }} {{ item.classes|join(' ') }} {{ item.children? 'has-children': '' }}"
       title="{{ item.title }}"
       target="{{ item.target }}"
       aria-label="{{ item.title }}"
    >
        {{ item.title }}

        {% if false %}
            {% if true|apply_filters('djc/menu-items/show-chevron/filter') %}
                <i class="fas fa-chevron-down"></i>
            {% endif %}
        {% endif %}
    </a>
{% endmacro menu_item %}

{% macro submenu_item(item, class) %}
    {% import _self as menu %}

    {{ menu.menu_item(item, class ~ ' submenu-item') }}
{% endmacro submenu_item %}
