{% for item in primaryMenu.items %}
    <div class="menu-wrapper">
        <a href="{{ item.link }}" class="menu-item navmenu-item {{ item.classes|join(' ') }}" title="{{ item.title }}" target="{{ item.target }}">
            {{ item.title }}
        </a>

        {% if item.children %}
            <div class="submenu-wrapper">
                {% for child in item.children %}
                    <a href="{{ child.link }}" class="submenu-item {{ child.classes|join(' ') }}" title="{{ child.title }}" target="{{ child.target }}">
                        {{ child.title }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endfor %}
